<div class="container-fluid main-container h-100">
    <div class="row main-row">
      <div class=" col-sm-1"></div>
      <div class="col-12 d-grid justify-content-center h-100 align-content-center
      col-sm-10 ">
      <div class="card main-card">
        <div class="p-5 card-container">
          <!-- logo-->
            <app-logo></app-logo>
          <!-- logo -->
          <router-outlet></router-outlet>
        </div>
      </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
  