@import "src/app/app.component.scss";


.container-fluid {
  padding: 0 !important;
}
// ** Titulos **
.title {
  font-weight: 900;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  font-size: 30px;
}
// ** Botoes **
.button-start {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  outline: none;
  border-radius: 10px;
  padding: 12px 20px;
  background: $cor-verde-1;
  color: white;
  font-weight: 900;
  border: none;
  font-size: 16px;
}

// ** Navbar **
.logo {
  &-text {
    color: $cor-verde-1;
    font-weight: 900;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: -0.048rem;
    line-height: 0.9em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
  }
  &-img {
    height: 5rem;
  }
}
.navbar {
  background-color: $cor-bege-2;
  box-shadow: none;

  a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
    background: linear-gradient(0deg, $cor-marrom-1, $cor-marrom-1) no-repeat right
      bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
    padding-bottom: 2px;
    --bg-h: 2px;    
  }
  a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }
}
.nav {
  &-item{
    display: flex;
    justify-content: center;
  }
  &-link {
    color: $cor-verde-2;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
  }
  &-container {
    margin: auto;
    max-width: 1250px;
    flex-wrap: wrap;
  }
  a {
    color: #18272f;
    position: relative;
    text-decoration: none;
  }
}

//  ** Secao Hero **
.hero {
  min-height: 60vh;
  background-color: $cor-bege-1;
  h1 {
    color: $cor-verde-1;
    line-height: 37px;
    letter-spacing: 0.04em;
  }

  span {
    font-weight: 700;
    color: $cor-marrom-1;
  }

  &-image {
    width: 100%;
  }

  &-container {
    justify-content: center;
    row-gap: 1rem;
    margin-top: 5rem;
    margin: 0px 26px 0px 26px;
    @media (min-width: 768px) {
      padding-left: 10vw;
      max-width: 50rem;
    }
  }
  &-image-container {
    @media (min-width: 768px) {
      max-width: 50rem;
    }
  }
}

// ** Seção de Benefícios **
.benefits {
  min-height: 70vh;
  background: $cor-verde-3;
  color: white;
  text-align: center;
  padding: 40px 20px;

  span {
    color: whitesmoke;
  }

  &-container {
    max-width: 100rem;
    margin: 0 auto;
  }

  &-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.benefit-item {
  background-color: white;
  max-width: 17rem;
  text-align: center;
  margin: 20px;
  padding-top: 0.7rem !important;
  padding-bottom: 2rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 17rem;

  img {
    width: 62px;
    height: 62px;
  }

  h3 {
    color: black;
    font-size: 1.2rem;
    min-height: 3rem;
    margin-right: 0.8rem !important;
    margin-left: 0.8rem !important;
  }

  p {
    color: #5f5f5f;
    font-size: 16px;
    font-weight: 401;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
  }
}

// ** seção de uso **
.usage {
  background: $cor-bege-1;

  text-align: center;
  min-height: 30vh;

  .usage-container {
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    h1 {
      color: $cor-verde-1;
    }
    ul {
      padding: 0;
      li {
        color: $cor-marrom-1;
        font-weight: 500;
        padding-bottom: 0.3rem;
      }
    }
  }
}

// ** timeline**
.usage ul {
  list-style: none;
  padding-left: 20px;
  position: relative;
}

.usage ul::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 20px;
  width: 4px;
  height: 73%;
  background-color: $cor-marrom-1;
}

.usage li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 15px;
}

.usage li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 12px;
  height: 12px;
  background-color: $cor-marrom-1;
  border-radius: 50%;
}

// ** secao sobre **
.about {
  background: $cor-bege-2;
  text-align: left;
  min-height: 60vh;
  overflow: hidden;

  &-content {
    width: fit-content;
  }
  &-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin: auto;
    gap: 2rem;

    h1 {
      color: $cor-verde-1;
    }
    p {
      color: $cor-marrom-1;
      max-width: 39rem;
      font-weight: 600;
    }
  }
}

.about-img-container {
  display: flex;
  justify-content: center;
  max-width: 29rem;

  img {
    max-width: 100%;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    @media (max-width: 1152px) {
      clip-path: none;
    }
  }
}
