<div class="container-fluid main-container h-100">
    <div class="row main-row">
      <div class=" col-sm-1"></div>
      <div class="col-12 d-grid justify-content-center h-100 align-content-center
      col-sm-10 ">
      <div class="card main-card">
        <div class="p-4 card-container">
          <!-- logo-->
          <div class="d-flex justify-content-center align-content">
             <span class="d-flex align-items-center" >
              <img src="assets/logo-nova.png" alt="" class="logo-img" />
              <div class="logo-text">PROJETO<br />LER & DORT</div>
            </span>
          </div>
          <!-- logo -->
          <router-outlet></router-outlet>
        </div>
      </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
  