.body-form {
    background-image: url(../../../../../assets/image.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    min-height:  100vh; 
  }
  .logo{
    position: absolute;
    top: 0;
  }