<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light w-100">
  <!-- Container wrapper -->
  <div class="d-flex justify-content-between w-100 nav-container">
    <!-- Navbar brand -->
    <app-logo></app-logo>

    <!-- Toggle button -->
    <div class="" style="align-content: center">
      <button
        class="navbar-toggler"
        type="button"
        (click)="basicNavbar.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
    </div>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse pt-2 d-md-none d-md-flex justify-content-between  ps-2"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0" style="text-align: center">
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToSection(benefits)">Benefícios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToSection(usage)">Como funciona</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="scrollToSection(about)">Sobre nós</a>
        </li>
      </ul>
      <!-- Left links -->
      <div class="d-flex justify-content-center">
        @if(this.isLogged){
          <app-avatar></app-avatar>
        }@else{
          <button routerLink="login" type="button" class="mt-2 mt-md-0 button-start">
            COMEÇAR AGORA!
          </button>
        }
    
      </div>

    </div>

    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div class="container-fluid">
  <section class="hero d-flex flex-column pt-5 pb-5 align-items-center flex-lg-row">
    <div class="d-flex flex-column hero-container align-items-md-start">
      <h1 class="title">
        Alivie suas dores e melhore sua qualidade de vida no trabalho!
      </h1>
      <span class="fs-5">
        Professores enfrentam desafios diários com dores e desconfortos. Nosso
        sistema, desenvolvido em parceria com fisioterapeutas, recomenda
        exercícios personalizados para você.
      </span>
      <button routerLink="login"  type="button" class="mt-2 mt-md-0 button-start">
        COMEÇAR AGORA
        <i class="fa-solid fa-arrow-right ms-2"></i>
      </button>
    </div>
    <div class="p-2 mt-2 hero-image-container">
      <img src="assets/img/hero_img.png" alt="" class="hero-image" />
    </div>
  </section>

  <section #benefits id="benefits" class="benefits">
    <div class="benefits-container">
      <div class="pt-4 pb-5">
        <h1 class="title">Por que usar nosso sistema?</h1>
        <span class="fs-5">Benefícios do Projeto LER & DORT</span>
      </div>
      <div class="benefits-grid">
        <div class="benefit-item rounded-3">
          <img src="assets/icons/personalized.png" alt="Recomendações" />
          <h3 class="title">Recomendações Personalizadas</h3>
          <p class="">
            Indique as áreas de dor e a intensidade para receber recomendações
            específicas.
          </p>
        </div>
        <div class="benefit-item rounded-3">
          <img src="assets/icons/access.png" alt="Acesso imediato" />
          <h3 class="title">Acesso imediato</h3>
          <p>
            Tenha acesso instantâneo a vídeos com exercícios guiados para
            iniciar sua recuperação hoje mesmo.
          </p>
        </div>
        <div class="benefit-item rounded-3">
          <img
            src="assets/icons/quality.png"
            alt="Qualidade de vida"
            class=""
          />
          <h3 class="title">Melhore sua qualidade de vida</h3>
          <p>
            Fortalecimento muscular, alongamento e mobilidade para minimizar os
            impactos do trabalho repetitivo.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section #usage class="usage">
    <div class="usage-container pt-5 pb-3 px-3">
      <h1 class="title p-1">Como começar?</h1>
      <ul class="text-start fs-5 bar">
        <li>Faça login com sua conta Google.</li>
        <li>Informe as regiões do corpo onde sente dor e a intensidade.</li>
        <li>Receba recomendações de exercícios personalizados.</li>
        <li>Assista aos vídeos e pratique no seu ritmo!</li>
      </ul>
    </div>
  </section>

  <section #about class="about py-5 px-3">
    <div class="about-container ">
      <div class="about-img-container">
      <img src="assets/img/teacher_writing.jpg" class="" alt="" />
    </div>
      <div class="about-content">
        <h1 class="title text-left mb-4 ">Sobre o PROJETO LER & DORT</h1>
        <p class="fs-5 bold ">
          O PROJETO LER & DORT é uma iniciativa voltada para professores do
          Ensino Médio que sofrem com dores musculares devido ao trabalho
          repetitivo. Nosso sistema identifica suas dores e sugere exercícios
          específicos para melhorar sua mobilidade, reduzir o desconforto e
          promover bem-estar.
        </p>
      </div>
    </div>
  </section>
</div>

