<footer>
  <div class="footer-container">
    <div class="logo">PROJETO<br />LER & DORT</div>
    <ul class="">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="home" fragment="benefits">Benefícios</a></li>
      <li><a routerLink="/" fragment="usage">Como funciona</a></li>
      <li><a routerLink="home" fragment="about">Sobre nós</a></li>

      @if (isAdmin) {
      <li><a routerLink="admin">Admin</a></li>
      }
    </ul>
    <div class="copy">
      <span>© 2024 - 2025 Projeto LER & DORT. All rights reserved</span>
    </div>
  </div>
</footer>
