    <!-- Avatar -->
    <div mdbDropdown class="nav-item dropdown">
      <span
        class="nav-link dropdown-toggle d-flex align-items-center"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        mdbDropdownToggle
        aria-expanded="false"
      >
        <img
          [(src)]=userAvatar
          class="rounded-circle"
          height="40"
          alt=""
          loading="lazy"
        />
      </span>
      <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
        <li>
          <a class="dropdown-item" routerLink="/" >Inicio</a>
        </li>
        @if(this.authService.hasPermission('ADMIN')){
          <li>
            <a class="dropdown-item" routerLink="/admin" >Admin</a>
          </li>
        }
        <li>
          <a class="dropdown-item" routerLink="/result" >Resultado</a>
        </li>
        <li>
          <a class="dropdown-item" routerLink="/form" >Formulário</a>
        </li>
        <li>
          <a class="dropdown-item"  routerLink="/" (click)="this.authService.logout()">Sair</a>
        </li>
      </ul>
    </div>
